<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />



    <roleManager enabled="true" defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="ImageTransfertService.CustomRoleProvider, ImageTransfertService" />
      </providers>
    </roleManager>
    
    
    
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation des informations sur les métadonnées, définissez la valeur ci-dessous sur false et supprimez le point de terminaison des métadonnées ci-dessus avant le déploiement. -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Pour recevoir les détails d'exception des erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Définissez-la sur false avant le déploiement pour éviter la divulgation des informations d'exception. -->
          <serviceDebug includeExceptionDetailInFaults="false"/>


          <serviceCredentials>
            <serviceCertificate findValue="duckingBearCertif"
             storeLocation="LocalMachine" storeName="TrustedPeople"
             x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
             customUserNamePasswordValidatorType="ImageTransfertService.CustomUserNameValidator, ImageTransfertService"/>
          </serviceCredentials>
          
          
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="CustomProvider" />
          
          
        </behavior>        
        
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />


    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <bindings>
      <wsHttpBinding>
        <binding messageEncoding="Mtom" maxReceivedMessageSize="10485760">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        
      </wsHttpBinding>

    </bindings>
    

  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
